
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* These values are set by JavaScript on map load */
    --map-columns: 25;
    --map-rows: 25;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    padding-left: 200px;
    padding-right: 200px;
}

span {
    border: solid black 3px;
    padding: 10px;
}

button {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    padding: 10px;
    
}

input {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}

button:hover {
    background-color: white;
    color: black;
    transform: scaleX(1.3);
    transform: scaleY(1.3);
}

ul {
    list-style-type: none;
}

#container-div {
    background-color: white;
    height: auto;
    max-height: 700px;
    overflow-y: scroll;
    margin-left: calc(50%-500px);
    margin-top: 100px;
}

#rules {
    padding: 100px;
    text-align: center;
    line-height: 30px;
}

/* Level Intro */

#intro {
    z-index: 999;
    width: 80%;
    height: 80%;
    display: block;
    border: 2px dotted black;
    margin: 10%;
    color:white;
    background-color: black;
    position: absolute;
    text-align: center;
    display: none;
}

#intro-title {
    margin-top: 10%;
}

#intro-text {
    margin-top: 20%;
    margin-bottom: 15%;
}

.intro-button {
    width: 40%;
    border: 4px solid white;
    border-radius: 20px;
    margin-left: 30%;
}

	
#logo-nav {
    justify-content: space-between;
}
#logo {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 7%;
    
}

/* Navbar */
#logo-nav a {
    color: white;
    text-align: center;
    
}

#nav {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 50px;
}

#nav a {
    color: white;
    list-style: none;
}

#logo-nav {
    justify-content: space-between;

}

#logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#logo-nav a {
    text-decoration: none;
    
}
#nav {
    display: flex;
    list-style: none;
    justify-content: center;
    justify-content: space-evenly;
}
#nav a {
    text-decoration: none;
    list-style: none;
}

/* nav {
    top: 0px;
    position: fixed;
} */

#game-screen {
    position: relative;
    display: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.game-map {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1 / calc(var(--map-rows) / var(--map-columns));
    --tile-width: calc(100% / var(--map-columns));
}

.game-tile {
    border: 1px solid black;
    background-color: white;
    flex: 1 0 var(--tile-width);
    aspect-ratio: 1 / 1;
}

.game-tile.wall {
    background-color: black;
}

.game-player {
    --pX: 0;
    --pY: 0;
    --size: 0;
    --character: '\01F600';

    position: absolute;
    left: calc(1px * var(--pX));
    top: calc(1px * var(--pY));
    
    width: var(--tile-width);
    aspect-ratio: 1 / 1;

    transition: left 0.5s, top 0.5s;
}

.game-player::before {
    display: block;
    content: var(--character);
    font-size: calc(1px * var(--size));
    line-height: calc(1px * var(--size));
}

/* @media (min-width: 576px)
@media (min-width: 768px)
@media (min-width: 992px)
@media (min-width: 1200px) */

