@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap')

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* These values are set by JavaScript on map load */
    --map-columns: 25;
    --map-rows: 25;
}

game-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;

    width: 100vw;
    height: 100vh;
}

#logo-nav {
    justify-content: space-between;

}

#logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#logo-nav a {
    text-decoration: none;
    
}
#nav {
    display: flex;
    list-style: none;
    justify-content: center;
    justify-content: space-evenly;
}
#nav a {
    text-decoration: none;
    list-style: none;
}


#game-screen {
    display: flex;
    flex-wrap: wrap;
    
    position: relative;

    aspect-ratio: 1 / calc(var(--map-rows)/var(--map-columns));
}

.game-tile {
    border: 1px solid black;
    flex: 1 0 calc(100%/var(--map-columns));
    aspect-ratio: 1 / 1;
}

.game-player {
    position: absolute;
    left: 0px;
    top: 0px;
    
    width: calc(100%/var(--map-columns));
    height: calc(100%/var(--map-rows));

    background-color: blue;

    transition: left 0.5s, top 0.5s;
}

